:root {
  --black: #28282D; 
  --gray-dark: #3F3B3F;
  --gray-med: #8D8888;
  --gray-light: #DBD5D1;
  --white: #F1F0EC;
  --purple: #9A9ADA;
  --red: #E7ABB7;
  --orange: #D89C88;
  --yellow: #CCB97E;
  --green: #89BEA3;

  --background: var(--black);
  --text: var(--white);
  --line: var(--gray-light);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--background);
  color: var(--text);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

