/* https://contrast-grid.eightshapes.com/?version=1.1.0&background-colors=28282D%2C%20Raisin%20Black%0D%0A3F3B3F%2C%20Jet%0D%0A%238D8888%2C%20Taupe%20Gray%0D%0A&foreground-colors=%23E7ABB7%2C%20Cherry%20Blossom%0D%0A%23E2977E%2C%20Dark%20Salmon%0D%0A%23CCB97E%2C%20Ecru%0D%0A%2389BEA3%2C%20Eaton%20Blue%0D%0A%239A9ADA%2C%20Blue%20Bell%0D%0Adbd5d1%2C%20Timberwolf%0D%0AF1F0EC%2C%20Isabelline%0D%0A&es-color-form__tile-size=compact&es-color-form__show-contrast=aaa&es-color-form__show-contrast=aa&es-color-form__show-contrast=aa18&es-color-form__show-contrast=dnp */
:root {
  --black: #28282d;
  --gray-dark: #3f3b3f;
  --gray-med: #8d8888;
  --gray-light: #dbd5d1;
  --white: #f1f0ec;
  --purple: #9a9ada;
  --red: #e7abb7;
  --orange: #d89c88;
  --yellow: #ccb97e;
  --green: #89bea3;

  --background: var(--black);
  --text: var(--white);
  --line: var(--gray-light);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--background);
  color: var(--text);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
