.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.heroSection {
  height: 100vh;
  font-size: 2em;
  padding: 2em 1em;
  position: sticky;
  top: 0;
  background-color: var(--background);
  background: radial-gradient(var(--gray-dark), var(--background) 75%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroSectionText {
  margin: 0 auto;
  padding: 0;
  max-width: 46rem;
}

.homeSection {
  background-color: var(--background);
  border-top: 1px solid var(--gray-med);
  padding: 1em 1.5em 6em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6em);
  font-size: 1.2rem;
  line-height: 1.5;
  -webkit-transform: translateZ(0);
  z-index: 2;
}

.column {
  max-width: 36rem;
  max-width: 60ch;
  margin: 0 auto;
}

@media (min-width: 800px) and (min-height: 680px) {
  .heroSection {
    padding: 3em;
    font-size: 3em;
  }
}

@media (min-width: 800px) {
  .homeSection {
    padding: 3em 3em 6em;
  }
}

@media (min-width: 1000px) {
  .homeSection {
    padding: 4em 3em 6em;
  }
}
